@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(12px, 5px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(12px, -5px);
  }

  @layer utilities {
    /* Chrome, Opera, and Safari */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      /* Interner Explorer and Microsoft Edge */
      -ms-overflow-style: none;
      /* Firefox */
      scrollbar-width: none;
    }
  }